{% extends 'base.html' %}

{% include 'navbars/loggedin.html' %}

{% block content %}
  
<div class="row">
  <div class="col col-4" id="user-card">    
    <div class="card" style="width: 18rem;">    
      <img src='/static/images/state_flags/{{user.residentState}}.svg' class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{user.username}}</h5>      
        <p class="h6">
          A citizen of the great State of:  <h5>{{user.residentState}}</h5>
        </p>  
        <p class="h6">
          City or town of:  <h5>{{user.residentCity}}</h5>
        </p>  
        <p class="h6">
          Zip Code:  <h5>{{user.residentZipCode}}</h5>
        </p>  
      </div>
    </div>
  </div>
  <div class="col" id="president">

  </div>

</div>
<div class="row">
  <div class="col col-4">    
    
  </div>
  <div class="col" id="senators">

  </div>

</div>


{% endblock %}

